/* Write your CSS here */
.app-container {
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  padding-top: 60px;
  margin-top: 50px;
  height: 500px;
  width: 400px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  color: #a35200;
  font-size: 30px;
  font-weight: 800;
  font-family: 'Roboto';
}
.description {
  color: #334155;
  font-size: 24px;
  font-family: 'Roboto';
}

.image {
  height: 150px;
  width: 150px;
}
.button {
  color: #a35200;
  height: 40px;
  width: 200px;
  border-radius: 8px;
  background-color: #f9d423;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.total {
  margin-right: 20px;
}
.heads {
  margin-right: 20px;
}
